<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.omnibuttie.therable" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TherableApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="DATABASE"
            android:value="therable.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.omnibuttie" />

        <provider
            android:name=".providers.TagProvider"
            android:authorities="com.omnibuttie.therable.views.tagdetailsactivity" />

        <activity
            android:name=".views.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Composer"
            android:label="@string/title_activity_composer" >
        </activity>
        <activity
            android:name=".views.TagDetailsActivity"
            android:label="@string/taglistTitle" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.cc.tag" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.Composer_alternate"
            android:label="@string/title_activity_composer_alternate"
            android:parentActivityName=".views.MainActivity"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.omnibuttie.therable.views.MainActivity" />
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="1280bb07fa8bd3609f9144345f91ef91f0e79283"/>
    </application>

</manifest>
